<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kristina Marie's Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/nezuko.jpeg' %}">
</head>

<body>
<div class="terminal-container">
    <div class="terminal-topbar">
        <div class="mock-buttons">
            <div class="circle red"></div>
            <div class="circle yellow"></div>
            <div class="circle green"></div>
        </div>
        <p class="terminal-title">~/portfolio</p>
    </div>
    <div class="terminal" data-content="~/portfolio">
        <script>
            document.write("Last Login: " + new Date());
        </script>
        <div id="t-content">
            <br>
            <h2>Tiny Tina &hearts;</h2><br>
            Hello Friend &#128516; Welcome to my page.<br>
            Please type one of the words from the following list to see more.<br>
            <br>
            ['about', 'socials', 'contact', 'writeup', 'resume', 'pics', 'hack', 'faq', 'clear']<br><br>
        </div>
        <div class="output">
            <ul class="output-list"></ul>
        </div>
        <form id="form" autocomplete="off">
            <label for="input-field">guest@tina ~/portfolio $</label>
            <input type="text" class="input-field" name="input-field" autocomplete="off">
        </form>
    </div>
</div>
<!-- Looking for my not so secret blog pag? Try secretblog/ -->
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>